#container_promos {

    margin: 1rem 1rem;

    display: grid;

    /* grid-template-rows: 1fr; */

    grid-template-areas:

        'line1 line1 line1'

        'line2 line2 line2';

    place-items: center;




}




#container_promos div {

    background:  linear-gradient(to right, #f5b9a8, #e6dcce); 

    box-shadow:  0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.6);

    margin-bottom:4rem;

    width: 250px;

    height: 300px;

    /* background-image: url("imagenes/Jujuy.png");  */

    text-align: center;

    font-weight: 600;

    font-size: medium;

}

.img{

    width: 250px;

    height: 150px;

}

.lugar{

    font-size: 2rem;

    /* padding:2.5rem 0 1rem; */

}




/* .estadia, .pension, .traslado {

    

  } */




.precio{




    display: inline-block;

    /* margin: 4rem 0; */

    font-size: x-large;

    background-color: #f57856;

    border-radius: 50%;

    padding: 0.5rem;

}