*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}


html{
  margin: 0;
 /*height: 100%;*/
}


body{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color:  rgb(243, 224, 184);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;  
  margin: 0 auto;
  padding: 0;    
  /*position: absolute;*/ 
}


#logo-nav{
  
  width: 4rem;
  margin-top: 0.3em;
  margin-left: 5rem;
  padding-bottom: 0%;
  padding-top: 0%;    
}




.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;   
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 color: #fff;
  /*height: 80px;*/
  padding: 1em;
}


.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;  
}

.menu a:hover{
  color: rgb(177, 11, 11) ;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
}

#menu-toggle {
  display: none;
}


.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
 
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;

}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}


#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(202, 197, 197, 0);    
}


#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 780px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 60px;
    left: 50%;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;   
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    display: block;
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5rem;
   transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 2em;
    padding: 0.5em 0;
    width: 100%;     
    background-color: #0e0e0e;                 
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  
}

.menu a{
  text-decoration: none;
  /*color: rgb(26, 25, 25);*/ color: aliceblue;
  transition: rgb(172, 161, 161) 1.5s ease;
}


a{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  font-weight: 800;
  padding-bottom: 20px; 
  text-decoration: none; 
  margin: 10px 10px 5px;
  padding: 20px;
}
 
/*Formulario de contacto */


  .contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 15px; 
    padding-right: 15px;
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: goldenrod
    margin-top 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: black; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: rgb(243, 190, 57);
    border-color: goldenrod; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: rgb(238, 231, 212); 
  }
  
  
  span{
    color: goldenrod; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: goldenrod;
  }
  
  
  h3{
    font-size: 15px; 
    padding-bottom: 30px;
    color:black;   
  }
  
  
  p{
    font-size: 14px; 
    color: goldenrod; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid goldenrod;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid goldenrod;
  }
  
  .contacto{
    display: inline;
    text-align: right;
    margin-bottom: 1rem;
    padding-top: 1rem;
    
  }

  #contacto{
    color: #0e0e0e;
    margin-right: 2em;
    margin-bottom: 1rem;
  }

  .checkboxdiv{
    display: flex;
    align-items: center;

  }
 
  input[type="checkbox"] {
    transform: scale(0.7); /* Reducir el tamaño de los checkboxes */
  }
  
  .labelslocalizacion{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  .divlocalizacion{
    display:flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
  }

   .foot{
    text-align: center;  
    width: 100%;
    background-color: rgb(133, 36, 36);
    padding: 5px;
   }









   