#container_promos {
    margin: 1rem 1rem;
    display: grid;
     grid-template-rows: 1fr; 
    grid-template-areas:
        'line1 line1 line1'
        'line2 line2 line2';
    place-items: center;

}
a, a:link, a:visited{
    text-decoration: none;
    color: #070707;
}
.card_promo {
    border: none;
    padding: none;
    border-radius: 10%; 
    background:  linear-gradient(to right, #f5b9a8, #e6dcce); 
    box-shadow:  0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.8);
    margin-bottom:4rem;
    width: 250px;
    height: 300px;
    text-align: center;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
}

.img{
   border-top-right-radius: 10%; 
   border-top-left-radius: 10%;
    width: 250px;
    height: 150px;
}
.lugar{
    font-size: 2rem;
    
}

/* .estadia, .pension, .traslado {
    
  } */

.precio{
    
    display: inline-block;
    
    font-size: x-large;
     background-color: #f57856; 
    border-radius: 50%;
    padding: 0.5rem;
}

.card_promo:hover{
    background-color:#cfcfcf;
    opacity: 0.8;
}

